/* AssignmentDetailsModal.css */

.assignment-details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #7983f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 600px;
  width: 100%;
  text-align: left;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 36px;
  
 
}

.modal-content h2 {
  margin-top: 0;
}


.close-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px; /* Add border-radius for better appearance */
}

.close-button:hover {
  background-color: #2980b9;

.modal-content button {
  background-color: transparent;
  border-radius: 7px;
  color: #242424;
  border:#747474;
  padding: 0px 0%;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  position: relative;
}

