@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main-content {
  flex: 1;
  /* padding: 20px; */
  background-color: #fff;
  /* Light gray background */
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 12%;
  padding: 7.5px;
  /* Spacing between header and grid */
}


.spaces-title {
  font-size: 100px;
  margin-left: 50px;
  margin-top: 50px;
  color: #333;
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

.header-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -10px;
  
}

.button {
  background-color: #7289DA;
  /* Example button color */
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  /* Space between buttons */
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.button:first-child {
  background-color: #5865F2;
  /* Different color for the first button */
}

.spaces-grid {
  display: grid;
  padding: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  gap: 100px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  position: relative;

}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.divider {
  border: none;
  height: 1px;
  background-color: #d3d3d3;
  margin: 10px 0;
  width: 100%;
}

.profile-button { 
  flex-grow: 1; 
  padding: 10px 20px; 
  white-space: nowrap; 
}


.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);

  .modal-content {
    background-color: #fefefe;
    border-radius: 8.5px;
    margin: 10% auto;
    padding: 40px;
    /* border: 1.5px solid #888; */
    width: 60%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: "Poppins", sans-serif;
    font-style: normal;

    .close {
      color: #aaa;
      float: right;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0px;
      font-family: "Poppins", sans-serif;
    }

    button {
      width: 50%;
      padding: 10px;
      background-color: #5865F2;
      border-radius: 6px;
      color: white;
      border: none;
      cursor: pointer;
      font-family: "Poppins", sans-serif;

      &:hover {
        background-color: #5865F2;
        
      }
    }
  }
}
