.meeting-card {
    border: 1px solid #ccc;
    border-color: aqua;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #23022e;
    text
  }
  
  .meeting-card h4 {
    margin-top: 0;
    margin-bottom: 8px;
  }
  
  .meeting-card p {
    margin: 4px 0;
  }

  