.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.left-section {
  flex: 1;
  padding: 0 20px;
}

.right-section {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}

.right-section h2 {
  font-size: 24px;
}

.input-section {
  margin-top: 20px;
}

.input-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #FEFAED;
  border-radius: 10px;
  border-color: #F5B740;
}

.input-section button {
  width: 100%;
  padding: 10px;
  background-color: #23022E;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.input-section button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  font-size: 14px;
}

.left-section img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}