.page-container {
  border: 2px solid ; /* Add red border to surround the page */
  padding: 20px; /* Add some padding for better spacing */
  border-radius: 25px;
  background-color: #f5b740;


}.schedule-meeting  {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the start */
}

.calendar-section,
.details-section {
  flex: 1;
  margin-left: 150px;
  margin-right: -120px;
}

.date-picker,
.time-picker {
  margin-bottom: 25px; /* Adjust margin as needed */
}

.meeting-details {

  margin-bottom: 25px; /* Adjust margin as needed */
}

.meeting-type {
  border:  20px #ff0101;
  margin-bottom: 25px; /* Adjust margin as needed */
}

.schedule-meeting-button {
  max-height: 50px;
  align-self:unset;
  color: #f5b740;
  background-color: #23022e;
  margin-top: 50px; /* Adjust margin as needed */
  position:absolute;
  top: 200px;
  right: 400px;
}

.calendar-section {
  max-width: 250px; /* Adjust max width as needed */
  margin-right: 20px; /* Add margin between sections */
}

.details-section {
  max-width: 50%; /* Adjust max width as needed */
}

.time-picker select {
  width: 100%; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  overflow-y: auto; /* Use auto to show scrollbar only when needed */
}

.time-picker select option {
  overflow: : auto;
  padding: 10px;
}

 .meeting-type{
  position: absolute;
  top: 115px;
  right: 500px; 

} 
.space-selection {
  position: absolute;
  top: 155px;
  right: 420px;
}

