/* Inside your FileSectionContent.css file */

.file-table-container {
  max-height: calc(100vh - 10px); /* Adjust the margin value as needed */
  overflow-y: auto; /* Add vertical scrollbar when content overflows */
}

.file-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.file-table th,
.file-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.file-table th {
  background-color: #f2f2f2;
}

.file-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.file-table tbody tr:hover {
  background-color: #f0f0f0;
}

.file-name {
  font-weight: bold;
}

.file-details {
  display: flex;
  align-items: center;
}

.file-type,
.file-size {
  margin-left: 10px;
}

.file-explorer {
  overflow: auto; /* Add scrollbar if content exceeds the container */
}

.custom-file-input {
  background-color: #23022e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-file-input:hover {
  background-color: #3f033f; /* Adjust hover color as needed */
}

.custom-confirm-button {
  background-color: #23022e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-confirm-button:hover {
  background-color: #3f033f; /* Adjust hover color as needed */
}
